.shedule{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > .populars{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 50px;
        /* align-items: center;
        justify-content: center; */

        & > .title{
            font-family: Inter;
            font-size: 30px;
            font-weight: 700;
            line-height: 36.31px;
            text-align: left;
        }

        & > .services{
            display: flex;

            & > .populars-services{
                position: relative;
                flex: 1;
                height: 159px;
                border-radius: 15px;
                
                background-color: #17A1FA;
                display: flex;
                /* flex-direction: column; */
                align-items: center;
                justify-content: space-around;
                margin: 10px;

                & > .title{
                    position: absolute;
                    top: 20px;
                    left: 20px;

                    color: white;
                    font-family: Inter;
                    font-size: 26px;
                    font-weight: 700;
                    line-height: 31.47px;
                    text-align: left;

                }

                & > .pin{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }

                & > .human{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }

    & > .dates{

        display: flex;
        justify-content: space-between;
        height: 60vh;
        width: 90%;

        & > .date{
            
            & > .months{
                display: flex;
                /* align-items: center; */
                /* justify-content: space-around; */
                
                & > div{
                    flex: 1;
                    
                    display: flex;
                    justify-content: center;

                    padding: 10px;
                    background-color: #17A1FA;
                    border-radius: 15px;
                }
                
            }
        }

        & > .lessons{
            /* flex: 1; */
        }
    }
}