.calendar{
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;

    height: 230px;
    width: auto;

    & > table{
        
        & > tr{
            display: flex;

            & > td{
                display: flex;
                justify-content: center;
                flex: 1;

                width: 45px;
                height: 45px;

                & > div{
                    font-family: Inter;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24.2px;
                    text-align: center;
                }
            }
            
            & > .week{
                font-family: Inter;
                font-size: 20px;
                font-weight: 400;
                line-height: 24.2px;
                text-align: center;
                background-color: #333333;
                color: white;
                display: flex;
                justify-content: center;
                align-items:  center ;
                
                & > div{
                    align-items: center;
                    font-family: Inter;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24.2px;
                    text-align: center;
                }
            }
            & > .day{
                padding: 10px;
                font-family: Inter;
                font-size: 20px;
                font-weight: 700;
                line-height: 24.2px;
                text-align: left;
                color: #17A1FA;
                background-color: #EFEFEF;

                &:hover{
                    background-color: #EFEFEF;
                    border-radius: 15px;
                }
            }
        }
    }

    /* background-color: black; */
}